<div class="profile-main">
  <div class="profile-card">
    <%= image_tag @profile.avatar, class: 'avatar'%>
    <%= @profile.name %>
    <%= @profile.login %>
  </div>
  <div class="profile-links">

  </div>
</div>
