.profile-main
  display: flex
  flex-direction: row
  margin: 30px
  width: 90%

  .profile-card
    display: flex
    flex-direction: column
    margin-left: 10%
    padding: 10px
    font-weight: 400

    .avatar
      width: 230px
      height: 230px
      border-radius: 2.5%

    .profile-name
      font-size: 1.75em
      font-weight: 400
      margin: 0px
      margin-top: 15px

    .profile-username
      font-size: 1.2em
      margin: 0px
      color: #595e6a

    .bio-button
      margin: 20px
      width: 80%
      height: 40px
      text-decoration: none
      color: black


  .profile-body
    display: flex
    flex-direction: column
    width: 90%

    .profile-links
      display: flex
      height: 50px
      flex-direction: row
      align-items: baseline
      text-align: center
      border-bottom: 1px solid black
      padding: 15px
      margin-left: 10px
      font-size: .90em

      .link
        margin: 20px
        display: flex
        flex-direction: row
        align-items: baseline

        .counter
          margin-left: 10px
          height: 22px
          width: 22px
          background-color: #cdcdcd
          border-radius: 20%
          text-align: center
          align-content: center

      a
        text-decoration: none
        color: black
