<nav>
  <div class="main-menue">
    <div class="logo">

    </div>
    
  </div>
  <div class="sign-ins">
    <%= link_to 'Sign in', github_login_path %>
    <p id='sign-in-or'>or</p>
    <%= link_to 'Sign up', github_login_path %>
  </div>
</nav>
